
<html>
<head>
<style type="text/css">
.footer {
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
</style>
</head>
<footer class="footer" style="background-color:#8eb1cc;">
<div class="container">
<div style="float: left;"><p class="left"><span>Powered by</span><a href="http://cloud.google.com/AppEngine"><img src="/images/images.jpg" style="border-radius: 7px; height: 30px;"></img></a>
</div> <div style="float: right;"> <div id="footer-copyright" slyle="float: right;"> &copy; 2014 AnswerSpace</a>
</div>
</footer>
</html>