{% extends "/templates/base.html" %}
{% block title %}Pupils{% endblock %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" href="/static/stylesheets/index.css">
<script>

(function(window, document, undefined){

var currentDate = new Date()
var day = currentDate.getDay()
var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
var date = currentDate.getDate()
var month = currentDate.getMonth()
var year = currentDate.getFullYear()
window.onload = init;

  function init(){
    document.getElementById('current-date').innerHTML = days[day] + "  " + date +"-" +month +"-" + year
  }

})(window, document, undefined);

</script>
{% endblock %}
{% block content %}
<div id="table-row" class="row"  >
<div class="col-sm-4">
  <div data-spy="affix">

    <div class="well">
      <p>{{user_name}}</p>

      <p>St Trinian's</p>
    </div>
    <div class="alert alert-success" role="alert"><p id="current-date"></p></div>
    <div>
      &nbsp;&nbsp;
    </div>
    <div class="well">
      <h3>Class</h3>
      <select name="class-name" class="form-control">
        {% for item in classes %}
        <option value="{{ item.key.urlsafe() }}">{{item.class_name}}
        </option>
        {% endfor %}
      </select>
      &nbsp;&nbsp;
      <h3>Lesson</h3>


        <select name="lesson" id="lessonKey" class="form-control">
          {% for item in lessons %}
          <option value="{{ item.key.urlsafe() }}">{{item.lesson_name}}
          </option>
          {% endfor %}
        </select>

    </div>
    </div>
  </div>

<div class="col-sm-8">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Question #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      What was your homework for today?
      </div>
    </div>
  </div>
  {%  for question in questions_for_lesson %}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{question.key.urlsafe() }}" aria-expanded="false" aria-controls="{{question.key.urlsafe() }}">
          {{question.question_body}}
        </a>
      </h4>
    </div>
    <div id="{{question.key.urlsafe() }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <a data-toggle="modal" data-target="#select-pupil-modal">{{question.question_instructions}}</a> </div>
    </div>
  </div>
{% endfor %}
    </div>
  <div id="json-container"></div>
</div>
</div>

<!-- Modal -->
<div id="select-pupil-modal" class="modal container" role="dialog" >
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" >×</button>
		<h3 id="myModalLabel">Choose where to direct question</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span12 well transparent">
				<button class="span12 btn btn-large" data-dismiss="modal">Choose one student</button>
			</div>
			<div class="span12 well transparent">
				<button class="span12 btn btn-large" data-dismiss="modal">Choose differentiated student</button>
			</div>
			<div class="span12 well transparent">
				<button class="span12 btn btn-large" data-dismiss="modal">Ask everyone</button>
			</div>
		</div>
	</div><!-- end of modal body -->

</div>
{% endblock %}
{% block footer %}
    {{ super() }}

<script src="/static/js/current_lesson.js"></script>
{% endblock %}